{% extends "base.html" %}

{%block title%}Flappy Bird Online{%endblock%}

{%block head%}
<link rel="stylesheet" href="/static/css/game/style.css">
{%endblock%}

{% block content %}
<header>
  <h1>Floppy Bird</h1>
  <div class="score-container">
    <div id="bestScore">{{best_score}}</div>
    <div id="currentScore"></div>
  </div>
</header>

<canvas id="canvas" width="431" height="600"></canvas>
<script>
  const LOBBY_ID = "{{lobby_id}}";
  const CURRENT_BEST = "{{best_score}}";
  const PLAYER_ID = "{{player_id}}";
</script>
<script src="/static/js/game/script.js"></script>
{% endblock %}