{% extends "base.html" %}

{%block title%}Flappy Bird Online{%endblock%}

{%block head%}
<link rel="stylesheet" href="/static/css/game/style.css">
<style>
  #canvas {
    width: 100%;
    /* Set canvas width to 100% of its container */
    height: auto;
    /* Allow height to adjust proportionally */
    max-width: 431px;
    /* Limit maximum width to 431px on larger screens */
  }

  /* Media query for smaller screens (e.g., mobile devices) */
  @media (max-width: 768px) {
    #canvas {
      max-width: none;
      /* Reset maximum width */
    }
  }
</style>
{%endblock%}

{% block content %}
<header>
  <h1>Flappy Bird</h1>
  <div class="score-container">
    <div id="bestScore">{{best_score}}</div>
    <div id="currentScore"></div>
  </div>
</header>

<canvas id="canvas" width="431" height="600"></canvas>
<script>
  const LOBBY_ID = "{{lobby_id}}";
  const CURRENT_BEST = "{{best_score}}";
  const PLAYER_ID = "{{player_id}}";
</script>
<script src="/static/js/game/script.js"></script>
{% endblock %}